TENANT_ID=
SUBSCRIPTION_ID=
RESOURCE_GROUP=pdf-lib-dev-rg
LOCATION=westeurope
CONTAINER_GROUP_NAME=pdf-lib-dev
STORAGE_ACCOUNT_NAME=pdfliststoragedev
API_SECRET=
API_BASE_URL=pdf-lib-dev.westeurope.azurecontainer.io
