TENANT_ID=
SUBSCRIPTION_ID=
RESOURCE_GROUP=pdf-lib-prod-rg
LOCATION=westeurope
CONTAINER_GROUP_NAME=pdf-lib-prod
STORAGE_ACCOUNT_NAME=pdfliststorageprod
API_SECRET=
API_BASE_URL=pdf-lib-prod.westeurope.azurecontainer.io
