TENANT_ID=
SUBSCRIPTION_ID=
RESOURCE_GROUP=pdf-lib-staging-rg
LOCATION=westeurope
CONTAINER_GROUP_NAME=pdf-lib-staging
STORAGE_ACCOUNT_NAME=pdfliststoragestaging
API_SECRET=
API_BASE_URL=pdf-lib-staging.westeurope.azurecontainer.io
